.round-card-wrapper {
  display: flex;
  justify-content: center;
}
.round-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
}
.header {
  padding: 1rem;
}
.header h1 {
  font-weight: 600;
  font-size: xx-large;
  border-bottom: 0.25px solid gray;
}

.show-more-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 170px;
  margin: 0.5rem;
}
.show-more-btn {
  display: flex;
  gap: 0.5rem;
  height: max-content;
  width: max-content;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.35s;
}
.show-more-btn span {
  white-space: nowrap;
}
.show-more-btn:hover {
  background-color: rgba(0, 0, 0, 0.836);
}
