.journal-details {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: red; */
}
.detail-img {
  display: flex;
  justify-content: center;
  /* background-color: green; */
}
.detail-img img {
  height: 20rem;
  /* width: 100%; */
}
.list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  min-height: 50vh;
}

.detailcard-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  width: 80%;
  margin: 1rem;
  align-items: stretch;
}
.detailcard-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 60vh;
  gap: 1rem;
}
.detail-list-title {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0.5rem 1rem 0;
  border-bottom: 1px solid black;
}
.detail-list-cta {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0 0.5rem;
  /* background-color: green; */
}
.detail-list-button {
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1.05rem;
  background: rgba(0, 0, 0, 1);
}

.detail-list-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.25s;
}

@media (max-width: 768px) {
  .detailcard-container {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
.top-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desc {
  max-width: 80%;
  margin: 1.5rem;
  font-style: italic;
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 20px;
}
.pagination-btn-filters {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
  min-height: 3rem;
  flex-shrink: 0;
  padding: 0.5rem;
}
.pagination-btn-filters .prev-btn,
.next-btn {
  cursor: pointer;
  padding: 0.3rem 0.7rem;
  font-size: large;
  background-color: black;
  color: white;
  border: 0;
  border-radius: 0.5rem;
  opacity: 0.6;
}
.pagination-btn-filters button:hover {
  opacity: 1;
  transition: 0.1s;
}
.prev-btn {
  margin-right: 1rem;
}

i {
  font-size: small;
}
.disabled {
  cursor: not-allowed !important;
  opacity: 0.2 !important;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
}
.search-btn {
  cursor: pointer;
  background-color: blue;
  color: white;
  padding: 0.6rem 1rem;
}
.search-btn:hover {
  background-color: rgba(0, 0, 255, 0.75);
}
