.logo {
  height: 150px;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: 40%;
  letter-spacing: 0.75px;
}
.hero-btn {
  background-color: black;
  width: max-content;
  cursor: pointer;
}
.hero-btn:hover {
  background-color: rgb(66, 66, 66);
  transition: 0.25s;
  color: white;
}
.head-img {
  max-height: 400px;
}
.hero {
  min-height: 70vh;
}
