.detail-card-btn button {
  cursor: pointer;
  background-color: black;
  padding: 0.6rem 0.9rem;
  color: white;
  margin: 0;
  white-space: nowrap;
  border-radius: 0.7rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
  font-size: small;
}
.detail-card-btn {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}
.detail-card-btn button:hover {
  opacity: 0.8;
  transition: 0.25s;
}
.detail-card-wrapper {
  width: 100%;
  max-width: none;
  /* background: #9fa0a1; */
  /* border: 1px solid rgba(255, 255, 255, 0.08); */
  border-radius: 18px;
  /* box-shadow: 0 18px 40px rgba(15, 23, 42, 0.28); */
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  min-height: 100%;
}
.detail-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.95rem;
  align-items: center;
}
.detail-card-wrapper .title {
  justify-content: flex-start;
  text-align: left;
}
.title {
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  align-items: baseline;
}

.field-block {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  width: 100%;
  align-items: flex-start;
  margin: 5px;
}

.field-label {
  text-transform: capitalize;
  border-bottom: 0.05px solid gray;
  color: rgb(13, 13, 172);
  width: 100%;
}

/* TOPICS */
.topics {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 1rem 0 1rem 0;
  width: 100%;
}

.topic-pill {
  padding: 0.35rem 0.75rem;
  border-radius: 999px;
  font-style: italic;
  background-color: rgb(204, 202, 202);
  font-size: small;
  width: max-content;
}

.topic-pill.empty {
  opacity: 0.6;
}

.top-detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.company-logo {
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.oa-status {
  display: flex;
  align-items: center;
}
.oa-status span img {
  height: 40px;
}
.highlight {
  background-color: yellow;
  color: black;
  font-style: italic;
}
