.search-wrap {
  width: min(100%, 50rem);
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.search {
  /* background-color: #6b7280; */
  padding: 1rem;
  color: black;
  outline: hidden;
  border: 0.5px solid #6b7280;
  /* border-radius: 1rem; */
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
}
